extracted_hellomule/META-INF/mule-src/hellomule/src/main/mule/testinghtml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="testinghtmlFlow" doc:id="fd167ae4-e58f-4977-82ac-382f761e4021" >
		<http:listener doc:name="Listener" doc:id="7fec0ac6-c131-402d-acdd-00a017c924bf" config-ref="HTTP_Listener_config" path="/weather"/>
		<logger level="INFO" doc:name="Logger" doc:id="f958a19d-47f1-4de9-bb5e-034f79060c50" message='#["flow started"]'/>
		<http:request method="GET" doc:name="Request" doc:id="fd4d6993-7962-4cc5-ac37-2e7012af9260" config-ref="HTTP_Request_configuration" url="https://api.cricapi.com/v1/currentMatches">
			<http:query-params ><![CDATA[#[output application/java
---
{
	apikey : "063d91a6"
}]]]></http:query-params>
			<http:response-validator >
				<http:success-status-code-validator values="200..300" />
			</http:response-validator>
		</http:request>
		<choice doc:name="Choice" doc:id="b8de289a-4cb2-4263-bee8-cecdbcf143a2" >
			<when expression='#[attributes.statusCode as String =="200"]'>
				<ee:transform doc:name="Transform Message" doc:id="3921a4ab-8cd5-4815-ad31-8ea048dd9050">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.data map ((item, index) -> {
    "MatchName":item.name,
    "status":item.status,
    "date":item.date
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="02b9ad79-bc76-413c-8f0e-e79a1d882bf4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Error":"Unable to fetch the data"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
